
    
    
        <li id="post-<%=post._id%>" class="post-li">
            <h6><span><%= post.user.name %></span> posted this ,</h6>

            <%= post.content %>
            <% if (locals.user) { %>
            <a class="toggle-like-btn" href="/likes/toggle?id=<%=post._id%>&type=Post" data-likes = "<%= post.likes.length %>"><%= post.likes.length %><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Facebook_Thumb_icon.svg/1200px-Facebook_Thumb_icon.svg.png" alt="likes"></a>
            <% } else {%>
                <%= post.likes.length %>
                <% } %>

            <% if (locals.user && post.user.id == locals.user.id ) { %>
            <div id="delete-<%= post._id%>" class="delete">
                
                <a class="delete-post-button" href="/posts/destroy/<%=post._id%>"><button id="delete-btn">Delete Post</button></a>
            </div>
        <% } %>
        <% if (locals.user) { %>
            <div id="comment-container">
               <form action="/comments/create" id="post-<%=post._id%>-comments-form" class="new-cmnt-form" method="post">
                <textarea name="content" id="comment-txt" cols="60" rows="2" placeholder="Write a comment" required></textarea>
                <input type="hidden" name="post" value="<%=post._id%>">
                <button type="submit" id="comment-btn">Post Comment</button>
               </form>
            </div>
         <% } %>
             <h1 id="comments-head">Comments</h1>
            <div class="post-comments-list">
                
                <ul id="post-comments-<%=post._id%>">
                   <% for(comment of post.comments) { %>
                    
                    <%- include('_comment') -%>
                    <% } %>
        
                </ul>
            </div>
        </li>
        