<link rel="stylesheet" href="/css/home.css">
<div id="home-container">
   
   <section id="feed-container">
      <h1 id="home-heading">Welcome to Codeial !</h1>
      <% if (locals.user) { %>
         <h1 id="post-head">Post Something</h1>
         <form action="/posts/create" id="new-post-form" method="post">
         <textarea name="content" id="text-area" cols="20" rows="5" placeholder="Whats on your mind ?" required></textarea>
         <div id="btn-div"><input type="submit" id="post-button" value="POST"></div>
         </form>
         <% } %>
         <h1 id="feed-head">Your Feed</h1>
         <div class="post-lists" id="posts-list-container">
            <ul>
               <% for(post of posts) { %>
               <%- include('_post') -%>
               <% } %>
            </ul>
         </div>
   </section>
   
      
      
   <section id="friends-sec">
      <% if (locals.user) { %>
      <div id="friends">
         <h1>Your Friends</h1>
         <ul>
            
              
            
            
         </ul>
      </div>
      <% } %>
      <div id="users">
      <h1>Users</h1>
      <ul>
         
      <% for(u of all_users) { %>
         <li>
         <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
         </li>
         <% } %>
      </ul>
   </div>
   </section>
   <section>
      
      <%- include('chat_box') -%>
   </section>
         
         
   
   </div>
   <script src="<%= assetPath('js/post_comments.js') %>"></script>
   <script src="<%= assetPath('js/home_posts.js') %>"></script>
   <script src="<%= assetPath('js/toggle_likes.js') %>"></script>
   <script>
      $('.toggle-like-btn').each(function(){
         let self = this;
         let toggleLike = new ToggleLike(self)
      });
   </script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js" integrity="sha512-xbQU0+iHqhVt7VIXi6vBJKPh3IQBF5B84sSHdjKiSccyX/1ZI7Vnkt2/8y8uruj63/DVmCxfUNohPNruthTEQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <script src="<%= assetPath('js/chat_engine.js') %>"></script>
   <% if(locals.user) { %>
   <script>
      new ChatEngine('chat-box','<%= locals.user.email %>');
   </script>
   <% } %>
   



    
