<link rel="stylesheet" href="/css/user_profile.css">

<div class="profile">
    <div id="dp"><img src="<%= user.avatar %>" alt="<%= user.name %>"></div>


    <% if(user.id==profile_user.id) { %>
        <!-- if user matches then show the form -->
        <div id="update-form">
            <!-- enctype multipart shows it can be other than text data -->
            <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="post">

                <input class="input-type-forms" type="text" name="name" id="" placeholder="Your Name"
                    value="<%= profile_user.name %>" required>
                <input class="input-type-forms" type="email" name="email" id="" placeholder="Your Email"
                    value="<%= profile_user.email %>" required>
                <input id="file-type" type="file" name="avatar" placeholder="Profile Picture"
                    onchange="loadFile(event)">
                <img id="output">
                <input id="update-btn" class="input-type-forms" type="submit" value="Update">
            </form>
        </div>
        <% }else { %>
            <!-- else only profile info -->
            <div id="details-list">

                <ul>
                    <li>
                        <b>Name</b> : <%= profile_user.name %>
                    </li>
                    <li>
                        <b>Email</b> : <%= profile_user.email %>
                    </li>
                    <li>
                        <b>Nationality</b> : Indian
                    </li>
                </ul>
            </div>
            <%} %>
</div>
<script>
    let loadFile = function (e) {
        let output = document.getElementById('output');
        console.log(e.target.files);
        output.src = URL.createObjectURL(e.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src); //free memory
        }
    }
</script>